.Burger {
  width: 50%;
  margin: auto;
  height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (minw-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 300;
    height: 200;
  }
}
